<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}HbScorez ist eine Statistikplattform für diverse Handballigen im deutschsprachigen Raum.{% endblock %}">
    <link rel="icon" href="{{ static('base/images/favicons/favicon.png') }}">

    <title>{% block title %}HbScorez{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" href="{{ static('base/styles/base.css') }}">
        <link rel="stylesheet" href="{{ static('base/styles/bootstrap-5.0.0.min.css') }}">
        <link rel="stylesheet" href="{{ static('base/styles/datatables-1.10.24.min.css') }}">
        <link rel="stylesheet" href="{{ static('base/styles/animate-4.1.1.min.css') }}">
        <link rel="stylesheet" href="{{ static('base/styles/cookieconsent-3.1.1.min.css') }}">
    {% endblock %}

    {% if MATOMO_URL %}
        <script>MATOMO_URL = "{{ MATOMO_URL }}";</script>
        <script src="{{ static('base/scripts/matomo.js') }}"></script>
    {% endif %}
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark" aria-label="main menu">
    <div class="container">
        <a class="navbar-brand" href="{{ url('base:home') }}">HbScorez</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('associations:list') }}">Statistik</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                <div class="nav-item btn-group">
                    <a class="btn btn-secondary" href="{{ url('users:profile') }}">{{ request.user.username }}</a>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ url('users:logout') }}">Abmelden</a>
                    </div>
                </div>
            {% else %}
                <a class="nav-item btn btn-primary mr-md-2 mr-0 mb-md-0 mb-2" href="{{ url('users:login') }}">Anmelden</a>
                <a class="nav-item btn btn-success" href="{{ url('django_registration_register') }}">Registrieren</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="bg-light py-3">
    <div class="container">
        <div id="alerts"></div>
        <div class="row">
            {% if request.env["UPDATING"] == "TRUE" %}
            <div class="col-12">
                <h3>
                    <span class="badge bg-warning animated bounce">
                        Daten werden aktualisiert&nbsp;
                        <span id="spinner" class="fas fa-spinner"></span>
                    </span>
                </h3>
            </div>
            {% endif %}
            <main class="col-sm-12 ml-sm-auto">
                {% if request.global_message %}
                    <div class="alert alert-primary" role="alert">{{ request.global_message.message|safe }}</div>
                {% endif %}
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</div>

<footer>
    <nav class="container navbar navbar-expand-md navbar-dark" aria-label="common links">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ url('base:contact_form') }}">Kontakt</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url('base:imprint') }}">Impressum</a></li>
            <li class="nav-item"><a id="privacy" class="nav-link" href="{{ url('base:privacy') }}">Datenschutz</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/djbrown/hbscorez">Quellcode</a></li>
            <li class="nav-item"><a class="nav-link" href="https://redmine.djbrown.de/projects/hbscorez">Projektmanagement</a></li>
            <li class="nav-item"><a class="nav-link" href="https://redmine.djbrown.de/projects/hbscorez/boards">Forum</a></li>
        </ul>
    </nav>
</footer>

{% block scripts %}
    <script src="{{ static('base/scripts/vendor/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ static('base/scripts/vendor/popper-2.9.2.min.js') }}"></script>
    <script src="{{ static('base/scripts/vendor/bootstrap-5.0.0.min.js') }}"></script>
    <script src="{{ static('base/scripts/vendor/fa-all-5.15.3.min.js') }}"></script>
    <script src="{{ static('base/scripts/vendor/moment-2.29.1.min.js') }}"></script>
    <script src="{{ static('base/scripts/vendor/cookieconsent-3.1.1.min.js') }}"></script>
    <script src="{{ static('base/scripts/vendor/datatables-1.10.24.min.js') }}"></script>
    <script src="{{ static('base/scripts/vendor/datatables-datetime-moment-1.10.24.js') }}"></script>

    <script src="{{ static('base/scripts/datatables-config.js') }}"></script>
    {#<script src="{{ static('base/scripts/cookieconsent-config.js') }}"></script>#}
{% endblock %}
</body>
</html>
