**/__pycache__/
.github/
.idea/
**/.mypy_cache/
.vscode/
mails/
media/
reports/
static/

.editorconfig
.fossa.yml
.gitignore
.pyup.yml
.travis.yml
ATTRIBUTIONS.md
db.sqlite3
docker-stack*.yml
Dockerfile
geckodriver.log
hbscorez.log
hbscorez/settings_docker_stack*.py
LICENSE
README.md
