**/__pycache__/
.github/
.idea/
**/.mypy_cache/
.vscode/
logs
mails/
media/
reports/
static/

.coverage
.dockerignore
.editorconfig
.fossa.yml
.gitignore
.pylintrc
.pyup.yml
.travis.yml
ATTRIBUTIONS.md
coverage.xml
db.sqlite3
docker-stack*.yml
Dockerfile
geckodriver.log
hbscorez.log
src/hbscorez/settings_docker_stack*.py
LICENSE
README.md
setup.cfg
