**/__pycache__/
.idea/
**/.mypy_cache/
.pytest_cache/
/.vscode/
/htmlcov/
/logs
/mails/
/media/
/reports/
/static/

.coverage
.python-version
coverage.xml
db.sqlite3
docker-stack*.yml
geckodriver.log
hbscorez.log
src/hbscorez/settings_docker_stack*.py
