**/__pycache__/
.idea/
**/.mypy_cache/
/.vscode/
/logs
/mails/
/media/
/reports/
/static/

.coverage
coverage.xml
db.sqlite3
docker-stack*.yml
geckodriver.log
hbscorez.log
src/hbscorez/settings_docker_stack*.py
