language: python
python:
  - "3.7"
dist: xenial
install:
  - pip install pipenv
  - pipenv install --dev
  - >-
    curl -H 'Cache-Control: no-cache'
    https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | sudo
    bash
addons:
  sauce_connect: true
script:
  - pipenv run hbcoverage
  - pipenv run coverage xml
  - pipenv run mypy src
  - pipenv run flake8
after_success:
  - pipenv run codecov
  - pipenv run coveralls
  - pipenv run python-codacy-coverage -r coverage.xml
  - diff ATTRIBUTIONS.md <(pipenv run pip-licenses -csaum)
  - pipenv lock -r > requirements.txt && fossa
