[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=2.2.13"
django-registration = "*"
django-contact-form = {version = "*",extras = ["akismet"]}
icalendar = "*"
lxml = "*"
Jinja2 = "*"
psycopg2 = "*"
psycopg2-binary = "*"
requests = "*"
tabula-py = "*"

[dev-packages]
autopep8 = "*"
bandit = "*"
codacy-coverage = "*"
codecov = "*"
coverage = "*"
coveralls = "*"
dparse = {version = "*",extras = ["pipenv"]}
flake8 = "*"
mypy = "*"
pip-licenses = "*"
# prospector = "*"
ptpython = "*"
pylama = "*"
#pylint = "*"
#pylint-django = "*"
rope = "*"
sauceclient = "*"
selenium = "*"

[requires]
python_version = "3.7"

[scripts]
hbscorez = "./src/manage.py runserver"
hbtest = "./src/manage.py test src"
hbunittest = "./src/manage.py test --exclude-tag slow src"
hbintegrationtest = "./src/manage.py test --tag integration src"
hbseleniumtest = "./src/manage.py test --tag selenium src"
hbcoverage = "coverage run --branch --source=src --omit=src/*/migrations/* ./src/manage.py test src"
delmig = "find . -path \"src/*/migrations/*.py\" -not -name \"__init__.py\" -delete"
