[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.0"
"Jinja2" = "*"
requests = "*"
lxml = "*"
icalendar = "*"
Faker = "*"
tabula-py = "*"

[dev-packages]
mypy = "*"
coverage = "*"
coveralls = "*"
codecov = "*"
ptpython = "*"
pip-licenses = "*"
pylint = "*"
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
