certifi==2018.4.16
chardet==3.0.4
Django==2.0.4
Faker==0.8.15
icalendar==4.0.1
idna==2.6
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
numpy==1.14.2
olefile==0.45.1
pandas==0.22.0
Pillow==5.1.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
six==1.11.0
tabula-py==1.0.0
urllib3==1.22
