{% extends 'teams/base.html' %}
{% block description %}Übersichtsseite der Mannschaft '{{ team.name }}' in der Liga '{{ team.league.name }}' des
    Bereichs '{{ team.league.district.name }}'{% endblock %}
{% block content %}
    {{ super() }}
    <nav class="nav nav-pills mb-3">
        <a class="nav-item nav-link m-1 active" href="#/">Übersicht</a>
        <a class="nav-item nav-link m-1 disabled">Spieler</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:games', args=[team.bhv_id]) }}">Spiele</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:scorers', args=[team.bhv_id]) }}">Schützen</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:offenders', args=[team.bhv_id]) }}">Straffällige</a>
    </nav>
    <h2>Übersicht</h2>
{% endblock %}
