{% extends 'teams/base.j2' %}
{% block title %}Spiele - {{ super() }}{% endblock %}
{% block description %}Spielergebnisse der Mannschaft '{{ team.name }}' in der Liga '{{ team.league.name }}' des
    Bereichs '{{ team.league.district.name }}'{% endblock %}
{% block content %}
    {{ super() }}
    <nav class="nav nav-pills mb-3">
        <a class="nav-item nav-link m-1" href="{{ url('teams:detail', args=[team.bhv_id]) }}">Übersicht</a>
        <a class="nav-item nav-link m-1 disabled">Spieler</a>
        <a class="nav-item nav-link m-1 active" href="#/">Spiele</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:scorers', args=[team.bhv_id]) }}">Schützen</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:offenders', args=[team.bhv_id]) }}">Straffällige</a>
    </nav>
    <h2>Spiele</h2>
    <div class="table-responsive">
        <table id="data-table" class="table table-sm table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Gegner</th>
                <th>Ergebnis</th>
                <th>Tore</th>
                <th>Gegentore</th>
                <th>Halle</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                {% set opponent = game.opponent_of(team) %}
                {% set t = time(game.opening_whistle) %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ date(game.opening_whistle, 'SHORT_DATE_FORMAT') }}</td>
                    <td>{{ t if t != "00:00" else "-" }}</td>
                    <td>
                        {#<img class="table-team-logo" src="{{ team_logo_url(opponent) }}" width="25" alt="HbScorez Logo">#}
                        <img class="table-team-logo" src="{{ static('base/images/favicons/favicon.png') }}" width="25"
                             alt="HbScorez Logo">
                        <a href="{{ opponent.get_absolute_url() }}">{{ opponent.short_name }}</a>
                    </td>
                    <td>{{ team_outcome_badge(game.outcome_for(team))|safe }}</td>
                    <td>{{ game.goals_of(team) if game.goals_of(team) != None else "-" }}</td>
                    <td>{{ game.goals_of(opponent) if game.goals_of(opponent)!= None else "-" }}</td>
                    <td><a href="#/">{{ game.sports_hall.name }}</a></td>
                    <td><a href="#/">{{ game.number }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>#</th>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Gegner</th>
                <th>Ergebnis</th>
                <th>Tore</th>
                <th>Gegentore</th>
                <th>Halle</th>
                <th>Details</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
