{% extends 'teams/base.j2' %}
{% block title %}Straffällige - {{ super() }}{% endblock %}
{% block description %}Ranking der straffälligsten Spieler der Mannschaft '{{ team.name }}' in der Liga '
    {{ team.league.name }}' des Bereichs '{{ team.league.district.name }}'{% endblock %}
{% block content %}
    {{ super() }}
    <nav class="nav nav-pills mb-3">
        <a class="nav-item nav-link m-1" href="{{ url('teams:detail', args=[team.bhv_id]) }}">Übersicht</a>
        <a class="nav-item nav-link m-1 disabled">Spieler</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:games', args=[team.bhv_id]) }}">Spiele</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:scorers', args=[team.bhv_id]) }}">Schützen</a>
        <a class="nav-item nav-link m-1 active" href="#/">Straffällige</a>
    </nav>
    <h2>Straffällige</h2>
    <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <p class="card-text">Aus Datenschutzgründen wurden die hier aufgeführten Namen <b>zufällig generiert</b>!</p>
            <p class="card-text">Die Namen werden bis zur Nutzer-gesteuerten Freischaltung gleich bleiben.</p>
        </div>
    </div>
    <div class="table-responsive">
        <table id="data-table" class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Pl.</th>
                <th>Name</th>
                <th>Sp.</th>
                <th>Pkt.</th>
                <th>Gelb</th>
                <th>2min</th>
                <th>Rot</th>
            </tr>
            </thead>
            <tbody>
                {% for offender in offenders %}
                <tr>
                    <th scope="row">{{ offender.place }}</th>
                    <td><a href="{{ player.get_absolute_url() }}">{{ offender.fake_name() }}</a></td>
                    <td>{{ offender.games }}</td>
                    <td>{{ offender.offender_points }}</td>
                    <td>{{ offender.warnings }}</td>
                    <td>{{ offender.suspensions }}</td>
                    <td>{{ offender.disqualifications }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Pl.</th>
                <th>Name</th>
                <th>Sp.</th>
                <th>Pkt.</th>
                <th>Gelb</th>
                <th>2min</th>
                <th>Rot</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
