{% extends 'teams/base.html' %}
{% block title %}Spieler - {{ super() }}{% endblock %}
{% block description %}Torschützenranking der Mannschaft '{{ team.name }}' in der Liga '{{ team.league.name }}' des Bereichs
    '{{ team.league.district.name }}'{% endblock %}
{% block content %}
    {{ super() }}
    <nav class="nav nav-pills mb-3">
        <a class="nav-item nav-link m-1" href="{{ url('teams:detail', args=[team.bhv_id]) }}">Übersicht</a>
        <a class="nav-item nav-link m-1 disabled">Spieler</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:games', args=[team.bhv_id]) }}">Spiele</a>
        <a class="nav-item nav-link m-1 active" href="#/">Schützen</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:penalties', args=[team.bhv_id]) }}">Strafen</a>
    </nav>
    <h2>Spieler</h2>
    <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <p class="card-text">Aus Datenschutzgründen wurden die hier aufgeführten Namen <b>zufällig generiert</b>!
            </p>
            <p class="card-text">Die Namen werden bis zur Nutzer-gesteuerten Freischaltung in den kommenden Monaten
                gleich bleiben.</p>
        </div>
    </div>
    <div class="table-responsive">
        <table id="data-table" class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Pl.</th>
                <th>Name</th>
                <th>Sp.</th>
                <th>Tore</th>
                <th>7m</th>
                <th>Feldt.</th>
                <th>Tore &Oslash;</th>
                <th>Feldt. &Oslash;</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <th scope="row">{{ player.place }}</th>
                    <td><a href="{{ player.get_absolute_url() }}">{{ player.fake_name() }}</a></td>
                    <td>{{ player.games }}</td>
                    <td>{{ player.total_goals }}</td>
                    <td>{{ player.total_penalty_goals }}</td>
                    <td>{{ player.total_field_goals }}</td>
                    <td>{{ '%0.2f'| format(player.total_goals / player.games) }}</td>
                    <td>{{ '%0.2f'| format(player.total_field_goals / player.games) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Pl.</th>
                <th>Name</th>
                <th>Sp.</th>
                <th>Tore</th>
                <th>7m</th>
                <th>Feldt.</th>
                <th>Tore &Oslash;</th>
                <th>Feldt. &Oslash;</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
