{% extends 'base/base.html' %}
{% block title %}Torjäger{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ static('scorers/styles/scorers.css') }}"/>
{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ league.district.association.get_absolute_url() }}">{{
        league.district.association.abbreviation }}</a></li>
    <li class="breadcrumb-item"><a href="{{ league.district.get_absolute_url() }}">{{ league.district.abbreviation }}</a></li>
    <li class="breadcrumb-item"><a href="{{ league.get_absolute_url() }}">{{ league.abbreviation }}</a></li>
    <li class="breadcrumb-item active"><a>Torjäger</a></li>
</ol>
<h1>{{ league.name }}</h1>
<h2>Torjäger</h2>
<div class="table-responsive">
    <table id="scores" class="table table-sm table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Pl.</th>
            <th>Name</th>
            <th>Mannschaft</th>
            <th>Sp.</th>
            <th>Tore</th>
            <th>7m</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Pl.</th>
            <th>Name</th>
            <th>Mannschaft</th>
            <th>Sp.</th>
            <th>Tore</th>
            <th>7m</th>
        </tr>
        </tfoot>
        <tbody>
        {% for scorer in scorers %}
        <tr>
            <th scope="row">{{ place(scorers, loop.index0) }}</th>
            <td>{{ scorer.name }}</td>
            <td>
                <img class="table-team-logo" src="{{ team_logo_url(scorer.team) }}" width="25px">
                <span>{{ scorer.team.name }}</span>
            </td>
            <td>{{ scorer.games }}</td>
            <td>{{ scorer.total_goals }}</td>
            <td>{{ scorer.total_penalty_goals }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="{{ static('scorers/scripts/datatables.js') }}"></script>
{% endblock %}
