{% extends 'base/league/base.html' %}
{% block content %}
{{ super() }}
<nav class="nav nav-pills mb-3">
    <a class="nav-item nav-link m-1 active" href="#/">Übersicht</a>
    <a class="nav-item nav-link m-1" href="{{ url('league_teams', args=[league.bhv_id]) }}">Mannschaften</a>
    <a class="nav-item nav-link m-1" href="{{ url('league_games', args=[league.bhv_id]) }}">Spiele</a>
    <a class="nav-item nav-link m-1" href="{{ url('league_scorers', args=[league.bhv_id]) }}">Schützen</a>
    <a class="nav-item nav-link m-1" href="{{ url('league_penalties', args=[league.bhv_id]) }}">Strafen</a>
</nav>
<h2>Übersicht</h2>
{% endblock %}
