{% extends 'base/league/base.html' %}
{% block title %}Mannschaften {{ super() }}{% endblock %}
{% block content %}
{{ super() }}
<nav class="nav nav-pills mb-3">
    <a class="nav-item nav-link m-1" href="{{ url('league_overview', args=[league.bhv_id]) }}">Übersicht</a>
    <a class="nav-item nav-link m-1 active" href="#/">Mannschaften</a>
    <a class="nav-item nav-link m-1" href="{{ url('league_games', args=[league.bhv_id]) }}">Spiele</a>
    <a class="nav-item nav-link m-1" href="{{ url('league_players', args=[league.bhv_id]) }}">Spieler</a>
</nav>
<h2>Mannschaften</h2>
<ul>
    {% for team in league.team_set.all() %}
    <li><a href="{{ team.get_absolute_url() }}">{{ team.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
