{% extends 'base/base.html' %}

{% block title %}Registrieren | {{ block.super }}{% endblock %}

{% block content %}
<h1>Registrieren</h1>
<form method="post">

    {% csrf_token %}

    <div class="mb-3">
        <label for="username" class="form-label">Benutzername</label>
        <input name="username" type="text" id="username" placeholder="Benutzername" required
            class="form-control{% if form.username.errors %} is-invalid{% elif form.username.value %} is-valid{% endif %}"
            {% if form.username.value %} value="{{ form.username.value }}" {% endif %} />
        <small class="form-text text-muted">{{ form.username.help_text|safe }}</small>
        <div class="invalid-feedback">{{ form.username.errors }}</div>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-Mail</label>
        <input name="email" type="email" id="email" placeholder="E-Mail" required
            class="form-control{% if form.email.errors %} is-invalid{% elif form.email.value %} is-valid{% endif %}"
            {% if form.email.value %} value="{{ form.email.value }}" {% endif %} />
        <small class="form-text text-muted">{{ form.email.help_text|safe }}</small>
        <div class="invalid-feedback">{{ form.email.errors }}</div>
    </div>

    <div class="mb-3">
        <label for="password1" class="form-label">Passwort</label>
        <input name="password1" type="password" id="password1" placeholder="Passwort" required
            class="form-control{% if form.password2.errors %} is-invalid{% endif %}" />
        <small class="form-text text-muted">{{ form.password1.help_text|safe }}</small>
        <div class="invalid-feedback">{{ form.password2.errors }}</div>
    </div>

    <div class="mb-3">
        <label for="password2" class="form-label">Passwort bestätigen</label>
        <input name="password2" type="password" id="password2" placeholder="Passwort" required
            class="form-control{% if form.password2.errors %} is-invalid{% endif %}" />
        <small class="form-text text-muted">{{ form.password2.help_text|safe }}</small>
    </div>

    <input type="submit" value="Registrieren" class="btn btn-success" />

</form>
{% endblock %}
