{% extends "base/base.html" %}

{% block title %}Registrierungsanfrage abgeschickt | {{ block.super }}{% endblock title %}

{% block content %}
<h1>Registrierungsanfrage abgeschickt</h1>

<p>
    Vielen Dank für Deine Registrierungsanfrage.<br>
    Die nächsten Schritte zur Registrierung werden an die angegebene Adresse geschickt.
    Die E-Mail sollte in Kürze in Deinem Postfach eintreffen.
</p>

<p>Falls Du keine E-Mail in Dein Postfach erhälst, solltest Du in Deinem Spam-Ordner nachschauen.</p>
{% endblock content %}
