{% extends 'leagues/base.html' %}
{% block title %}Straffällige - {{ super() }}{% endblock %}
{% block description %}Ranking der straffälligsten Spieler in der Liga {{ league.name }}{% endblock %}
{% block content %}
    {{ super() }}
    <nav class="nav nav-pills mb-3">
        <a class="nav-item nav-link m-1" href="{{ url('leagues:detail', args=[league.bhv_id]) }}">Übersicht</a>
        <a class="nav-item nav-link m-1" href="{{ url('leagues:teams', args=[league.bhv_id]) }}">Mannschaften</a>
        <a class="nav-item nav-link m-1" href="{{ url('leagues:games', args=[league.bhv_id]) }}">Spiele</a>
        <a class="nav-item nav-link m-1" href="{{ url('leagues:scorers', args=[league.bhv_id]) }}">Schützen</a>
        <a class="nav-item nav-link m-1 active" href="#/">Straffällige</a>
    </nav>
    <h2>Straffällige
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#penalty-info"><i
                class="fas fa-info-circle"></i>
        </button>
    </h2>
    <div class="collapse mb-2" id="penalty-info">
        <div class="card card-body">
            Bei der Berechnung der Punktezahl werden Gelbe Karten einfach, 2-Minuten doppelt und Rote Karten dreifach
            aufaddiert.<br/>
            Spieler, die keine Strafe erhalten haben, werden in der Tabelle nicht angezeigt.
        </div>
    </div>
    <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <p class="card-text">Aus Datenschutzgründen wurden die hier aufgeführten Namen <b>zufällig generiert</b>!
            </p>
            <p class="card-text">Die Namen werden bis zur Nutzer-gesteuerten Freischaltung in den kommenden Monaten
                gleich bleiben.</p>
        </div>
    </div>
    <div class="table-responsive">
        <table id="data-table" class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Pl.</th>
                <th>Name</th>
                <th>Mannschaft</th>
                <th>Sp.</th>
                <th>Pkt.</th>
                <th>Gelb</th>
                <th>2min</th>
                <th>Rot</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <th scope="row">{{ player.place }}</th>
                    <td><a href="{{ player.get_absolute_url() }}">{{ player.fake_name() }}</a></td>
                    <td>
                        {#<img class="table-team-logo" src="{{ team_logo_url(player.team) }}" width="25" alt="HbScorez Logo">#}
                        <img class="table-team-logo" src="{{ static('base/images/favicons/favicon.png') }}" width="25"
                             alt="HbScorez Logo">
                        <a href="{{ player.team.get_absolute_url() }}">{{ player.team.short_name }}</a>
                    </td>
                    <td>{{ player.games }}</td>
                    <td>{{ player.penalty_points }}</td>
                    <td>{{ player.warnings }}</td>
                    <td>{{ player.suspensions }}</td>
                    <td>{{ player.disqualifications }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Pl.</th>
                <th>Name</th>
                <th>Mannschaft</th>
                <th>Sp.</th>
                <th>Pkt.</th>
                <th>Gelb</th>
                <th>2min</th>
                <th>Rot</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
