{% extends 'leagues/base.html' %}
{% block title %}Schützen - {{ super() }}{% endblock %}
{% block description %}Torschützenranking in der Liga '{{ league.name }}' des Bereichs '{{ league.district.name }}
    '{% endblock %}
{% block content %}
    {{ super() }}
    <nav class="nav nav-pills mb-3">
        <a class="nav-item nav-link m-1" href="{{ url('leagues:detail', args=[league.bhv_id]) }}">Übersicht</a>
        <a class="nav-item nav-link m-1" href="{{ url('leagues:teams', args=[league.bhv_id]) }}">Mannschaften</a>
        <a class="nav-item nav-link m-1" href="{{ url('leagues:games', args=[league.bhv_id]) }}">Spiele</a>
        <a class="nav-item nav-link m-1 active" href="#/">Schützen</a>
        <a class="nav-item nav-link m-1" href="{{ url('leagues:offenders', args=[league.bhv_id]) }}">Straffällige</a>
    </nav>
    <h2>Schützen
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#penalty-info"><i
                class="fas fa-info-circle"></i>
        </button>
    </h2>
    <div class="collapse mb-2" id="penalty-info">
        <div class="card card-body">
            Spieler, die keine Tore erzielt haben, werden in der Tabelle nicht angezeigt.
        </div>
    </div>
    <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <p class="card-text">Aus Datenschutzgründen wurden die hier aufgeführten Namen <b>zufällig generiert</b>!
            </p>
            <p class="card-text">Die Namen werden bis zur Nutzer-gesteuerten Freischaltung in den kommenden Monaten
                gleich bleiben.</p>
        </div>
    </div>
    <div class="table-responsive">
        <table id="data-table" class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Pl.</th>
                <th>Name</th>
                <th>Mannschaft</th>
                <th>Sp.</th>
                <th>Tore</th>
                <th>7m</th>
                <th>Feldt.</th>
                <th>Tore &Oslash;</th>
                <th>Feldt. &Oslash;</th>
            </tr>
            </thead>
            <tbody>
                {% for scorer in scorers %}
                <tr>
                    <th scope="row">{{ scorer.place }}</th>
                    <td><a href="{{ scorer.get_absolute_url() }}">{{ scorer.fake_name() }}</a></td>
                    <td>
                        {#<img class="table-team-logo" src="{{ team_logo_url(scorer.team) }}" width="25" alt="HbScorez Logo">#}
                        <img class="table-team-logo" src="{{ static('base/images/favicons/favicon.png') }}" width="25"
                             alt="HbScorez Logo">
                        <a href="{{ scorer.team.get_absolute_url() }}">{{ scorer.team.short_name }}</a>
                    </td>
                    <td>{{ scorer.games }}</td>
                    <td>{{ scorer.total_goals }}</td>
                    <td>{{ scorer.total_penalty_goals }}</td>
                    <td>{{ scorer.total_field_goals }}</td>
                    <td>{{ '%0.2f'| format(scorer.total_goals / scorer.games) }}</td>
                    <td>{{ '%0.2f'| format(scorer.total_field_goals / scorer.games) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Pl.</th>
                <th>Name</th>
                <th>Mannschaft</th>
                <th>Sp.</th>
                <th>Tore</th>
                <th>7m</th>
                <th>Feldt.</th>
                <th>Tore &Oslash;</th>
                <th>Feldt. &Oslash;</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
