{% extends 'leagues/base.html' %}
{% block title %}Mannschaften {{ super() }}{% endblock %}
{% block description %}Mannschaften der Liga '{{ league.name }}' des Bereichs '{{ league.district.name }}'{% endblock %}
{% block content %}
{{ super() }}
<nav class="nav nav-pills mb-3">
    <a class="nav-item nav-link m-1" href="{{ url('leagues:detail', args=[league.bhv_id]) }}">Übersicht</a>
    <a class="nav-item nav-link m-1 active" href="#/">Mannschaften</a>
    <a class="nav-item nav-link m-1" href="{{ url('leagues:games', args=[league.bhv_id]) }}">Spiele</a>
    <a class="nav-item nav-link m-1" href="{{ url('leagues:scorers', args=[league.bhv_id]) }}">Schützen</a>
    <a class="nav-item nav-link m-1" href="{{ url('leagues:offenders', args=[league.bhv_id]) }}">Straffällige</a>
</nav>
<h2>Mannschaften</h2>
<ul>
    {% for team in league.team_set.order_by('name') %}
    <li><a href="{{ team.get_absolute_url() }}">{{ team.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
