{% extends "base/base.html" %}

{% load static base_extras %}

{% block title %}Spieler verknüpfen{% endblock title %}

{% block content %}
<h1>Spieler verknüpfen</h1>
<p>
    Wenn Du selbst ein aktiver Handballspieler bist bzw. warst, kannst Du hier Deine aktiven Saisons verknüpfen.<br>
    Wenn Du Dich verknüpfst, werden Deine Statistiken <strong>für Dich und alle Besucher angezeigt</strong>.<br>
    Dein Name erscheint dann in allen Dich betreffenden Auswertungen auf HbScorez.
</p>

<form method="post">

    {% csrf_token %}

    <div class="mb-3">
        <label for="associations" class="form-label">Verband</label>
        <select id="associations" class="form-select">
            {% for a in associations %}
            <option value="{{ a.bhv_id }}" {% if a == team.league.district.associations.all.0 %}selected{% endif %}>
                {{ a.name }} ({{ a.abbreviation }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="districts" class="form-label">Bezirk</label>
        <select id="districts" class="form-select">
            {% if team %}
            {% for d in team.league.district.associations.first.district_set.all %}
            <option value="{{ d.bhv_id }}" {% if d == team.league.district %}selected{% endif %}>{{ d.name }}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="mb-3">
        <label for="seasons" class="form-label">Saison</label>
        <select id="seasons" class="form-select">
            {% for s in seasons %}
            <option value="{{ s.start_year }}/{{ s.end_year }}" {% if s == team.league.season %}selected{% endif %}>
                {{ s }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="league" class="form-label">Liga</label>
        <select id="leagues" class="form-select">
            {% if team %}
            {% for l in leagues %}
            <option value="{{ l.bhv_id }}" {% if l == team.league %}selected{% endif %}>{{ l.name }}
                ({{ l.abbreviation }})</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="mb-3">
        <label for="teams" class="form-label">Mannschaft</label>
        <select name="team_bhv_id" id="teams" required
            class="form-select{% if form.player_name.errors %} is-invalid{% endif %}">
            {% if team %}
            {% for t in team.league.team_set.all %}
            <option value="{{ t.bhv_id }}" {% if t == team %}selected{% endif %}>{{ t.name }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <div class="invalid-feedback">{{ form.team_bhv_id.errors }}</div>
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Spielername</label>
        <input name="player_name" type="text" id="name" placeholder="Spielername" required
            class="form-control{% if form.player_name.errors %} is-invalid{% endif %}" {% if form.player_name.value %}
            value="{{ form.player_name.value.strip }}" {% endif %}>
        <div class="invalid-feedback">{{ form.player_name.errors }}</div>
    </div>

    <fieldset class="mb-3">
        <legend class="form-label">Ich bestätige hiermit, ...</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="True" id="consent-identity" name="consent_identity"
                required {% if request.POST.consent_identity %}checked{% endif %}>
            <label class="form-check-label" for="consent-identity">dass ich die angegebene Person bin</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="True" id="consent-delete" name="consent_delete"
                required {% if request.POST.consent_delete %}checked{% endif %}>
            <label class="form-check-label" for="consent-delete">dass ich meine Verknüpfung jederzeit
                <strong>einmalig</strong> löschen kann</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="True" id="consent-publish" name="consent_publish"
                required {% if request.POST.consent_publish %}checked{% endif %}>
            <label class="form-check-label" for="consent-publish">dass mein Name und meine Statistiken öffentlich auf
                HbScorez angezeigt werden</label>
        </div>
    </fieldset>

    <input type="submit" value="Verknüpfen" class="btn btn-primary">

</form>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>const clear = {% if team %}false{% else %}true{% endif %};</script>
<script src="{% static 'users/scripts/link.js' %}"></script>
{% endblock scripts %}
