{% extends 'base/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if form.errors %}
<p>Dein Benutzername und Passwort stimmen nicht überein. Versuche es noch einmal.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>
    Dein Benutzer hat keine Berechtigung diese Seite zu sehen.
    Melde Dich mit einem berechtigten Benutzer an, um fortzufahren.
</p>
{% else %}
<p>Bitte melde Dich an, um die angeforderte Seite zu sehen.</p>
{% endif %}
{% endif %}

{% if cooloff_timedelta %}
    <div class="alert alert-danger" role="alert">
        <strong>Du hast zu viele fehlgeschlagene Anmeldeversuche.</strong><br />
        Warte {{ cooloff_timedelta.days }} Tag{{ cooloff_timedelta.days|pluralize:'e' }}
        oder melde Dich über das <a href="{% url 'base:contact_form' %}">Kontaktformular</a> um Deinen Zugang zu entsperren.
    </div>
{% endif %}

<form class="mb-3" method="post" action="{% url 'users:login' %}">

    {% csrf_token %}

    <div class="mb-3">
        <label for="username">Benutzername</label>
        <input name="username" type="text" id="username" placeholder="Benutzername" required
            class="form-control {% if form.errors or cooloff_timedelta %}is-invalid{% endif %}" {% if form.username.value %}
            value="{{ form.username.value }}" {% endif %} />
    </div>

    <div class="mb-3">
        <label for="password">Passwort</label>
        <input name="password" type="password" id="password" placeholder="Passwort" required
            class="form-control{% if form.errors or cooloff_timedelta %} is-invalid{% endif %}" />
    </div>

    <input type="submit" value="Anmelden" class="btn btn-primary" />

    <input type="hidden" name="next" value="{{ next }}" />

</form>

<div class="row mb-3">
    <div class="col">
        <a href="{% url 'django_registration_register' %}" class="btn btn-success">Registrieren</a><br />
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <a id="link-password-reset" href="{% url 'users:password_reset' %}" class="btn btn-secondary">Passwort
            zurücksetzen</a>
    </div>
</div>
{% endblock %}
