{% extends "base/base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">Start</a>
    &rsaquo; Password zurückgesetzt
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>
    Falls ein User mit der angegeben Mail­ad­res­se existiert,
    wurden die nächsten Schritte zum Rücksetzen Deines Passwort an diese Adresse geschickt.
    Die E-Mail sollte in Kürze in Deinem Postfach eintreffen.
</p>

<p>
    Falls Du keine E-Mail erhälst, stelle bitte sicher,
    dass die eingegebene Adresse die selbe ist, mit der Du Dich registriert hast.
    Zusätzlich solltest Du in Deinem Spam-Ordner nachschauen.
</p>

{% endblock %}
