{% autoescape off %}
Du erhälst diese E-Mail weil Dein Passwort für "{{ user.get_username }}" auf HbScorez zurückgesetzt werden soll.

Gehe auf die folgende Seite, um ein neues Passwort zu setzen:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_change' uidb64=uid token=token %}
{% endblock reset_link %}

Falls Du Dein Passwort doch nicht zurücksetzen möchtest, kannst Du diese E-Mail ignorieren.

Diese E-Mail wurde automatisch generiert.
Für Rückfragen kannst Du gerne das Kontaktformular nutzen:
{{ protocol }}://{{ domain }}{% url 'base:contact_form' %}

Sportliche Grüße
Daniel von HbScorez
{% endautoescape %}
