{% extends "base/base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}
<p>Bitte gib zweimal Dein neues Passwort ein, damit Tippfehler ausgeschlossen werden.</p>

<form method="post">

    {% csrf_token %}

    <div class="form-group">
        <label for="new_password1">Neues Passwort</label>
        <input name="new_password1" type="password" id="new_password1" placeholder="Passwort" required
            class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" />
        <small class="form-text text-muted">{{ form.new_password1.help_text|safe }}</small>
        <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
    </div>

    <div class="form-group">
        <label for="new_password2">Passwort bestätigen</label>
        <input name="new_password2" type="password" id="new_password2" placeholder="Passwort" required
            class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" />
        <small class="form-text text-muted">{{ form.new_password2.help_text|safe }}</small>
    </div>

    <input type="submit" value="Passwort ändern" class="btn btn-primary" />

</form>
{% else %}
<p>
    Der Link zum Zurücksetzen Deines Passworts war ungültig, möglicherweise weil er bereits benutzt wurde.
    Bitte setze Dein Passwort erneut zurück.
</p>
{% endif %}

{% endblock %}
