{% extends "base/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <p>
        Bitte gib zunächst der Sicherheit wegen Dein altes Passwort ein.<br />
        Danach auch bitte zweimal Dein neues Passwort, damit Tippfehler ausgeschlossen werden.
    </p>

    <div class="mb-3">
        <label for="old_password">Altes Passwort</label>
        <input name="old_password" type="password" id="old_password" placeholder="Passwort" required
            class="form-control{% if form.old_password.errors %} is-invalid{% endif %}" />
        <small class="form-text text-muted">{{ form.old_password.help_text|safe }}</small>
        <div class="invalid-feedback">{{ form.old_password.errors }}</div>
    </div>

    <div class="mb-3">
        <label for="new_password1">Neues Passwort</label>
        <input name="new_password1" type="password" id="new_password1" placeholder="Passwort" required
            class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" />
        <small class="form-text text-muted">{{ form.new_password1.help_text|safe }}</small>
        <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
    </div>

    <div class="mb-3">
        <label for="new_password2">Passwort bestätigen</label>
        <input name="new_password2" type="password" id="new_password2" placeholder="Passwort" required
            class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" />
        <small class="form-text text-muted">{{ form.new_password2.help_text|safe }}</small>
    </div>

    <input type="submit" value="Passwort ändern" class="btn btn-primary" />

</form>
{% endblock %}
