{% extends "base/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="post">

    {% csrf_token %}

    <div class="mb-3">
        <label for="email">E-Mail</label>
        <input name="email" type="email" id="email" placeholder="E-Mail" required
            class="form-control{% if form.email.errors %} is-invalid{% elif form.email.value %} is-valid{% endif %}"
            {% if form.email.value %} value="{{ form.email.value }}" {% endif %}>
        <small class="form-text text-muted">{{ form.email.help_text|safe }}</small>
        <div class="invalid-feedback">{{ form.email.errors }}</div>
    </div>

    <input type="submit" value="Passwort zurücksetzen"class="btn btn-primary">

</form>
{% endblock content %}
