/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.breadcrumb-item-part + .breadcrumb-item-part::before {
    display: inline-block;
    padding-right: .5rem;
    color: #868e96;
    content: ",";
}

nav.nav-pills > a {
  border: 1px solid #007bff;
}

//nv.nav-pills

/*
 * Typography
 */

/*
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}
*/

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.placeholder a {
  white-space: normal;
}

#footer {
    padding: 20px 0 20px 180px
}

.footer-item {
    display: flex;
    align-items: center;
    height: 50px;
}

.footer-item + .footer-item {
    margin-top: 10px;
}

#footer img {
    float: left;
    height: 50px;
    margin-right: 5px;
    width: 50px;
}

#imprint:before {
    content: "§";
    margin-right: 5px;
}

#github-logo {
    background: #e32581;
    border-radius: 25%;
}

#redmine-logo {
    background: #F3C9B0;
    border-radius: 50%;
}