#spinner {
    margin-top: 30px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.breadcrumb-item-part + .breadcrumb-item-part::before {
    display: inline-block;
    padding-right: .5rem;
    color: #868e96;
    content: ",";
}

nav.nav-pills > a {
    border: 1px solid #007bff;
}

#privacy:before {
    content: "ยง";
    margin-right: 5px;
}

/*
 * Typography
 */

/*
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}
*/

#data-table {
    border-spacing: 0;
    width: 100%;
}

.leader-card ol > li:first-child {
    font-weight: bold;
}
