{% extends 'base/base.html' %}
{% block title %}{{ association.name }}{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url('associations') }}">Verbände</a></li>
    <li class="breadcrumb-item active"><a>{{ association.abbreviation }}</a></li>
</ol>
<h1>{{ association.name }}</h1>
<h2>Bereiche</h2>
<ul>
    {% for district in association.district_set.all() %}
    <li><a href="{{ district.get_absolute_url() }}">{{ district.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
