{% extends 'base/base.html' %}
{% block title %}Start{% endblock %}
{% block content %}
<h1>HB-Scorez entdecken</h1>
<section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
        <img src="{{ static('base/images/thumbnail-in-progress.png') }}" width="200"
             height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <a class="btn btn-lg btn-block btn-secondary disabled" href="#/">Tabellen & Begegnungen</a>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="{{ static('base/images/thumbnail-scorers.png') }}" width="200"
             height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <a class="btn btn-lg btn-block btn-primary" href="{{ url('assocs') }}">Torjäger</a>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="{{ static('base/images/thumbnail-in-progress.png') }}" width="200"
             height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <a class="btn btn-lg btn-block btn-secondary disabled" href="#/">Strafen</a>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="{{ static('base/images/thumbnail-in-progress.png') }}" width="200"
             height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <a class="btn btn-lg btn-block btn-secondary disabled" href="#/">Rekorde</a>
    </div>
</section>
{% endblock %}
