{% extends 'base/base.j2' %}
{% block title %}Start | {{ super() }}{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Willkommen auf HbScorez!</h1>
    <hr class="my-4">
    <p class="lead">HbScorez ist eine Statistikplattform für diverse Handballigen im deutschsprachigen Raum.</p>
    <a class="btn btn-primary btn-lg" href="{{ url('associations:list') }}">Zu den Statistiken</a>
</div>
{% endblock %}
