{% extends 'base/base.html' %}
{% block title %}Impressum | {{ super() }}{% endblock %}
{% block content %}
<h1>Impressum</h1>
<p>Angaben gemäß § 5 Telemediengesetz (TMG)</p>
<img class="img-fluid" src="{{ static('base/images/notice/contact.svg') }}" width="50%" height="50"/>
<br/>
<br/>

<h2>Allgemeine Datenschutzerklärung</h2>
<p>Durch die Nutzung meiner Website erklärst Du Dich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäß der
    nachfolgenden Beschreibung einverstanden. Meine Website kann grundsätzlich ohne Registrierung besucht werden. Dabei
    werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu
    statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Deine Person bezogen werden.
    Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit möglich auf freiwilliger Basis
    erhoben. Ohne Deine Einwilligung erfolgt keine Weitergabe der Daten an Dritte.</p>
<p>Ich weise darauf hin, dass die Datenübertragung im Internet (z.&nbsp;B. bei der Kommunikation per E-Mail)
    Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
    möglich.</p>
<p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht
    ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen.
    Ich behalte mir ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa
    durch Spam-Mails, vor.</p>

<h2>Datenschutzerklärung für Cookies</h2>
<p>Meine Website verwendet Cookies. Das sind kleine Textdateien, die es möglich machen, auf dem Endgerät des Nutzers
    spezifische, auf den Nutzer bezogene Informationen zu speichern, während er die Website nutzt. Cookies ermöglichen
    es, insbesondere Nutzungshäufigkeit und Nutzeranzahl der Seiten zu ermitteln, Verhaltensweisen der Seitennutzung zu
    analysieren, aber auch meine Seiten nutzerfreundlicher zu gestalten. Cookies bleiben über das Ende einer
    Browser-Sitzung gespeichert und können bei einem erneuten Seitenbesuch wieder aufgerufen werden. Wenn Du das nicht
    wünschst, solltest Du Deinen Internetbrowser so einstellen, dass er die Annahme von Cookies verweigert.</p>

<h2>Haftung für Inhalte</h2>
<p>Die Inhalte meiner Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
    Aktualität der Inhalte kann ich jedoch keine Gewähr übernehmen. Als Diensteanbieter bin ich gemäß § 7 Abs.1
    TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §&nbsp;8 bis §&nbsp;10
    TMG bin ich
    als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
    überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
    Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
    Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
    möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend
    entfernen.</p>

<h2>Haftung für Links</h2>
<p>Meine Seiten enthalten Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb
    kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
    stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum
    Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
    Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
    Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige
    Links umgehend entfernen.</p>

<h2>Urheberrecht</h2>
<p>Die durch mich erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
    Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
    des Urheberrechtes bedürfen meiner schriftlichen Zustimmung. Downloads und Kopien dieser Seite sind nur für den
    privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht von mir erstellt
    wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
    Solltest Du trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich um einen entsprechenden Hinweis.
    Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Inhalte umgehend entfernen.</p>
{% endblock %}
