{% extends "base/base.j2" %}
{% block title %}{{ team.name }} | {{ super() }}{% endblock title %}
{% block content %}
{{ super() }}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url('associations:list') }}">Verbände</a></li>
    <li class="breadcrumb-item">
        {% for association in team.league.district.associations.all() %}
        <a class="breadcrumb-item-part" href="{{ association.get_absolute_url() }}">{{ association.abbreviation }}</a>
        {% endfor %}
    </li>
    <li class="breadcrumb-item">
        <a href="{{ team.league.district.get_absolute_url() }}">{{ team.league.district.name }}</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="{{ team.league.get_absolute_url() }}">{{ team.league.abbreviation }} {{ team.league.season }} </a>
    </li>
    <li class="breadcrumb-item active"><a>{{ team.short_name }}</a></li>
</ol>
{% if team.club %}
<b>Verein:</b> <a href="{{ team.club.get_absolute_url() }}">{{ team.club.name }}</a>
{% endif %}
<h1>{{ team.name }}&nbsp;<a href="{{ team.source_url() }}"><span class="fas fa-link" title="Datenquelle"></span></a></h1>
{% endblock content %}
