{% extends 'teams/base.j2' %}
{% block title %}Straffällige - {{ super() }}{% endblock %}
{% block description %}Ranking der straffälligsten Spieler der Mannschaft '{{ team.name }}' in der Liga '
    {{ team.league.name }}' des Bezirks '{{ team.league.district.name }}'{% endblock %}
{% block content %}
    {{ super() }}
    <nav class="nav nav-pills mb-3">
        <a class="nav-item nav-link m-1" href="{{ url('teams:detail', args=[team.bhv_id]) }}">Übersicht</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:games', args=[team.bhv_id]) }}">Spiele</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:players', args=[team.bhv_id]) }}">Spieler</a>
        <a class="nav-item nav-link m-1" href="{{ url('teams:scorers', args=[team.bhv_id]) }}">Schützen</a>
        <a class="nav-item nav-link m-1 active" href="#/">Straffällige</a>
    </nav>
    <h2>Straffällige</h2>
    <div class="table-responsive">
        <table id="data-table" class="table table-sm table-striped">
            <caption>Straffällige</caption>
            <thead>
            <tr>
                <th scope="col">Pl.</th>
                <th scope="col">Name</th>
                <th scope="col">Sp.</th>
                <th scope="col">Pkt.</th>
                <th scope="col">Gelb</th>
                <th scope="col">2min</th>
                <th scope="col">Rot</th>
            </tr>
            </thead>
            <tbody>
                {% for offender in offenders %}
                <tr>
                    <th scope="row">{{ offender.place }}</th>
                    <td><a href="{{ offender.get_absolute_url() }}">{{ offender.public_name() }}</a></td>
                    <td>{{ offender.games }}</td>
                    <td>{{ offender.offender_points }}</td>
                    <td>{{ offender.warnings }}</td>
                    <td>{{ offender.suspensions }}</td>
                    <td>{{ offender.disqualifications }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th scope="col">Pl.</th>
                <th scope="col">Name</th>
                <th scope="col">Sp.</th>
                <th scope="col">Pkt.</th>
                <th scope="col">Gelb</th>
                <th scope="col">2min</th>
                <th scope="col">Rot</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
