{% extends 'base/base.j2' %}
{% block title %}{{ association.name }} | {{ super() }}{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url('associations:list') }}">Verbände</a></li>
    <li class="breadcrumb-item active"><a>{{ association.abbreviation }}</a></li>
</ol>
<h1>{{ association.name }}&nbsp;<a href="{{ association.source_url }}"><span class="fas fa-link" title="Datenquelle"></span></a></h1>
<h2>Bezirke</h2>
<ul>
    {% for district in association.district_set.order_by('name') %}
    <li><a href="{{ district.get_absolute_url() }}">{{ district.name }}</a></li>
    {% endfor %}
</ul>
<h2>Vereine</h2>
<ul>
    {% for club in association.club_set.order_by('name') %}
    <li><a href="{{ club.get_absolute_url() }}">{{ club.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
