{% extends "base/base.j2" %}
{% block title %}Verbände | {{ super() }}{% endblock title %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><a>Verbände</a></li>
</ol>
<h1>Verbände&nbsp;<a href="{{ root_url }}"><span class="fas fa-link" title="Datenquelle"></span></a></h1>
<ul>
    {% for association in associations.order_by('name') %}
    <li><a href="{{ association.get_absolute_url() }}">{{ association.abbreviation }} - {{ association.name }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}
