{% extends 'base/base.html' %}
{% load static %}
{% load scores_extras %}
{% block title %}Torjäger{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'scorers/styles/scorers.css' %}"/>
{% endblock %}
{% block content %}
<h1>Torjäger - Verbandsliga (BHV)</h1>
{{ scorers.5.club.logo.url }}
<div class="table-responsive">
    <table id="scores" class="table table-sm table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Pl.</th>
            <th>Name</th>
            <th>Mannschaft</th>
            <th>Sp.</th>
            <th>Tore</th>
            <th>7m</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Pl.</th>
            <th>Name</th>
            <th>Mannschaft</th>
            <th>Sp.</th>
            <th>Tore</th>
            <th>7m</th>
        </tr>
        </tfoot>
        <tbody>
        {% for scorer in scorers %}
        <tr>
            <th scope="row">{{ scorers|place:forloop.counter0 }}</th>
            <td>{{ scorer.name }}</td>
            <td>
                <img class="table-club-logo" src="
                {% if scorer.club.logo %}
                {{ scorer.club.logo.url }}
                {% else %}
                {% static 'base/images/favicons/favicon.png' %}
                {% endif %}
                " width="25px">
                <span>{{ scorer.club.name }}</span>
            </td>
            <td>{{ scorer.games }}</td>
            <td>{{ scorer.total_goals }}</td>
            <td>{{ scorer.total_penalty_goals }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="{% static 'scorers/scripts/scorers.js' %}"></script>
{% endblock %}
