{% extends 'base/base.html' %}

{% block title %}Nachricht abgeschickt{% endblock %}

{% block content %}
<h1>Nachricht abgeschickt</h1>
<p>
    User mit der angegeben E-Mail existiert, wurden die nächsten Schritte zum Rücksetzen Deines Passwort an diese Adresse geschickt.
    Die E-Mail sollte in Kürze in Deinem Postfach eintreffen.
</p>

<p>
    Falls Du keine E-Mail erhälst, stelle bitte sicher, dass die eingegebene Adresse die selbe ist, mit der Du Dich registriert hast.
    Zusätzlich solltest Du in Deinem Spam-Ordner nachschauen.
</p>
{% endblock %}
