{% autoescape off %}
Du erhälst diese E-Mail weil Du dein Passwort auf {{ site_name }} zurücksetzen möchtest.
Dein Username lautet: {{ user.get_username }}

Bitte gehe auf die folgende Seite und setze ein neues Passwort:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_change' uidb64=uid token=token %}
{% endblock %}
Diese E-Mail wurde <b>automatisch generiert</b>.
Für Rückfragen kannst Du gerne die E-Mail Adresse unter {% url 'base:notice' %} verwenden.


Sportliche Grüße
HbScorez

{% endautoescape %}
