{% extends "users/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}<div id="content-main">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}
        Bitte behebe den unten aufgeführten Fehler
    {% else %}
        Bitte behebe die unten aufgeführten Fehler
    {% endif %}
    </p>
{% endif %}


<p>
    Bitte gib zunächst der Sicherheit wegen Dein altes Passwort ein.<br />
    Danach auch bitte zweimal Dein neues Passwort, damit Tippfehler ausgeschlossen werden.
</p>

<fieldset class="form-group">
    <div class="form-row">
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }} {{ form.old_password }}
    </div>

    <div class="form-row">
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
            <small id="passwordHelpBlock" class="form-text text-muted">
                {{ form.new_password1.help_text|safe }}
            </small>
        {% endif %}
    </div>

    <div class="form-row">
    {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        {% if form.new_password2.help_text %}
            <small id="passwordHelpBlock" class="form-text text-muted">
                {{ form.new_password2.help_text|safe }}
            </small>
        {% endif %}
    </div>
</fieldset>

<div class="submit-row">
    <input type="submit" value="Passwort ändern" class="default">
</div>

</div>
</form></div>

{% endblock %}
