{% autoescape off %}
Du erhälst diese E-Mail weil Dein Passwort für "{{ user.get_username }}" auf HbScorez zurückgesetzt werden soll.

Gehe auf die folgende Seite, um ein neues Passwort zu setzen:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_change' uidb64=uid token=token %}
{% endblock %}

Falls Du Dein Passwort doch nicht zurücksetzen möchtest, kannst Du diese E-Mail ignorieren.

Diese E-Mail wurde <b>automatisch generiert</b>.
Für Rückfragen kannst Du gerne die E-Mail Adresse unter {% url 'base:notice' %} verwenden.
{# TODO: contact form#}

Sportliche Grüße
Daniel von HbScorez
{% endautoescape %}
