{% extends "users/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}
    <p>Bitte gib zweimal Dein neues Passwort ein, damit Tippfehler ausgeschlossen werden.</p>
    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Neues Passwort:</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Passwort bestätigen:</label>
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="Passwort ändern">
    </fieldset>
    </form>
{% else %}
    <p>
        Der Link zum Zurücksetzen Deines Passworts war ungültig, möglicherweise weil er bereits benutzt wurde.
        Bitte setze dein Passwort erneut zurück.
    </p>
{% endif %}

{% endblock %}
