{% extends "base/base.j2" %}
{% block title %}{{ league.name }} | {{ super() }}{% endblock title %}
{% block content %}
    {{ super() }}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url('associations:list') }}">Verbände</a></li>
        <li class="breadcrumb-item">
            {% for association in league.district.associations.all() %}
                <a class="breadcrumb-item-part"
                   href="{{ association.get_absolute_url() }}">{{ association.abbreviation }}</a>
            {% endfor %}
        </li>
        <li class="breadcrumb-item"><a href="{{ league.district.get_absolute_url() }}">{{ league.district.name }}</a>
        </li>
        <li class="breadcrumb-item active"><a>{{ league.abbreviation }} {{ league.season }}</a></li>
    </ol>
    <h1>{{ league.name }} {{ league.season.start_year }}/{{ league.season.start_year + 1 }}
        <a href="{{ league.source_url() }}"><span class="fas fa-link" title="Datenquelle"></span></a>
    </h1>
    {% for team in league.team_set.filter(retirement__isnull=False).order_by('retirement') %}
    <div class="alert alert-warning" role="alert">
        <a href="{{ team.get_absolute_url() }}">{{ team.name }}</a> wurde am {{ date(team.retirement) }} zurückgezogen.
    </div>
    {% endfor %}
{% endblock content %}
