{% extends 'leagues/base.j2' %}
{% block description %}Übersichtsseite der Liga '{{ league.name }}' des Bereichs '{{ league.district.name }}'{% endblock %}
{% block content %}
{{ super() }}
<nav class="nav nav-pills mb-3">
    <a class="nav-item nav-link m-1 active" href="#/">Übersicht</a>
    <a class="nav-item nav-link m-1" href="{{ url('leagues:teams', args=[league.bhv_id]) }}">Mannschaften</a>
    <a class="nav-item nav-link m-1" href="{{ url('leagues:games', args=[league.bhv_id]) }}">Spiele</a>
    <a class="nav-item nav-link m-1" href="{{ url('leagues:scorers', args=[league.bhv_id]) }}">Schützen</a>
    <a class="nav-item nav-link m-1" href="{{ url('leagues:offenders', args=[league.bhv_id]) }}">Straffällige</a>
</nav>
<h2>Übersicht</h2>
<span>{{ games_staged }} von {{ games_count }} Spielen ausgetragen</span>
<div class="progress mb-3">
    {% if games_count > 0 %}
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ games_progress * 100 }}%"></div>
    {% endif %}
</div>
<div class="card-deck">
    <div class="card leader-card">
        <h5 class="card-header">Top 5 Mannschaften</h5>
        <div class="card-body">
            <ol class="card-text">
                {% for group in teams.values() %}
                <li>
                    {% for team in group %}
                    <a href="{{ url('teams:detail', args=[team.bhv_id]) }} ">{{ team.name }}</a>
                    ({{ team.points }}&nbsp;Punkte)<br />
                    {% endfor %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="card leader-card">
        <h5 class="card-header">Top 5 Schützen</h5>
        <div class="card-body">
            <ol class="card-text">
                {% for group in scorers.values() %}
                <li>
                    {% for scorer in group %}
                    <a href="{{ url('players:detail', args=[scorer.pk]) }} ">{{ scorer.public_name() }}</a>
                    ({{ scorer.total_goals }}&nbsp;Tore)<br />
                    {% endfor %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="card leader-card">
        <h5 class="card-header">Top 5 Straffällige</h5>
        <div class="card-body">
            <ol class="card-text">
                {% for group in offenders.values() %}
                <li>
                    {% for offender in group %}
                    <a href="{{ url('players:detail', args=[offender.pk]) }} ">{{ offender.public_name() }}</a>
                    ({{ offender.offender_points }}&nbsp;Punkte)<br />
                    {% endfor %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}
