{% extends 'base/team/base.html' %}
{% block title %}Spieler - {{ super() }}{% endblock %}
{% block styles %}
{% block content %}
{{ super() }}
<nav class="nav nav-pills mb-3">
    <a class="nav-item nav-link m-1" href="{{ url('team_overview', args=[team.bhv_id]) }}">Übersicht</a>
    <a class="nav-item nav-link m-1" href="{{ url('team_games', args=[team.bhv_id]) }}">Spiele</a>
    <a class="nav-item nav-link m-1 active" href="#/">Spieler</a>
    <a class="nav-item nav-link m-1 disabled">Hallen</a>
    <a class="nav-item nav-link m-1 disabled">Berichte</a>
</nav>
<h2>Spieler</h2>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
